* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Centra No2', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  background-color: rgb(226, 235, 237);
}

a {
  text-decoration: none;
}
.button {
  cursor: pointer;
}
label {
  display: block;
}

/* Nav Bar */
.nav-menu {
  display: block;
  overflow: hidden;
  width: 100%;
  background: black;
  height: 100px;
}
.navbar-cart {
  float: right;
  margin-top: 25px;
  padding: 10px;
  cursor: pointer;
}
.nav-logo {
  width: 45%;
}

.float-logo {
  float: left;
  padding: 8px;
  color: white;
}
.float-logo:hover {
  color: blue;
}
.float-login {
  margin-top: 15px;
  font-size: 25px;
  float: right;
  padding: 10px;
  color: white;
}
.float-login:hover {
  color: blue;
}
.float-logout {
  margin-top: 25px;
  font-size: 25px;
  float: right;
  padding: 10px;
  color: white;
}
.float-logout:hover {
  color: blue;
}
.float-signup {
  margin-top: 25px;
  font-size: 25px;
  float: right;
  padding: 10px;
  color: white;
}
.float-singup:hover {
  color: blue;
}
.float-home {
  margin-top: 25px;
  font-size: 25px;
  float: right;
  padding: 10px;
  color: white;
}
.float-home:hover {
  color: blue;
}

.float-account {
  margin-top: 25px;
  font-size: 25px;
  float: right;
  padding: 10px;
  color: white;
}
.float-account:hover {
  color: blue;
}

/* Nav Bar End */

/* Booking Section */

.box-container {
  background-size: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  background-image: url(https://i.imgur.com/sSt2pGC.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: 100%;
  height: 80vh;
  /* background-size: 100% 100%; */
  /* height: 500px; */
}
.booking-container {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.booking-title {
  /* margin-top: 150px; */
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bolder;
}

.booking-travelers {
  align-items: center;
  padding: 8px;
  display: flex;
  font-size: 25px;
  font-weight: bold;
}
.add-minus-button {
  margin: 10px;
  cursor: pointer;
}

.add-minus-button:hover {
  color: white;
}

.traveler-number {
  font-size: 25px;
  font-weight: bold;
}
.booking-search {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 20px;
  border-radius: 30px;
  border: none;
  width: 100%;
}

.booking-search:hover {
  background-color: darkgrey;
  cursor: pointer;
  color: white;
}

.booking-origin-destination {
  padding: 20px;
  display: flex;
}
/* Booking End */
.login-signup-container {
  display: flex;
  background-image: url(https://i.imgur.com/2FTtspF.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: 100%;
  height: 100vh;
}
.login-container {
  margin: auto;
  padding: 80px 50px;
  background-color: white;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  box-shadow: 5px 5px 5px 5px black;
}

.signup-container {
  margin: auto;
  padding: 80px 50px;
  background-color: white;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  box-shadow: 5px 5px 5px 5px black;
}

/* .input-from-to {
  display: flex;
}

.search {
  display: block;
  margin: 1rem;
} */

.link {
  margin: 12px;
  color: aqua;
}

.link:hover {
  color: blue;
}

input {
  appearance: none;
  background: none;
  border: none;
  outline: none;
  display: block;
  width: 300px;
  padding: 10px 15px;
  background-color: #f8f8f8;
  border-radius: 10px;
  transition: 0.4s;
  margin: 0.1rem;
}
.page {
  /* background-color: black; */
}
input:focus {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.382);
}

/* Start Card Css */
.cards-background {
}
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
  /* min-height: 0; */
}
.card {
  /* overflow: hidden; */
  flex-wrap: wrap;
  border: 1px solid;
  font-weight: bold;
  background-color: white;
  width: 300px;
  height: 125px;
  margin: 10px;
  padding: 10px;
  box-shadow: 2px 2px 2px 2px black;
}
.card-date {
  display: flex;
  justify-content: center;
}
.card-direction-price {
  display: flex;
  justify-content: center;
}
.card-price {
  padding: 5px;
  margin: 5px;
}
.card-destination {
  padding: 5px;
  margin: 5px;
}
.card-buttons {
  display: flex;
  justify-content: center;
}
.card-btn1 {
  cursor: pointer;
  padding: 5px;
  margin: 5px;
}
.card-btn2 {
  cursor: pointer;
  padding: 5px;
  margin: 5px;
}

.card-btn3 {
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  background-color: lightblue;
}
.details-card-btn2 {
  float: right;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
}
.details-card-btn3 {
  float: right;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  background-color: lightblue;
}

/* End Card Css */

.card-login {
  align-items: center;
  justify-content: center;
}

.create-account-btn {
  margin-top: 10px;
}

.auth-error {
  color: red;
  font-size: 13px;
  margin: 1px;
}

.signup-prompt {
  font-size: small;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.signup-link {
  text-decoration: underline;
}

.signup-link:hover {
  color: blue;
}

.pagination {
  justify-content: space-around;
  flex-flow: row wrap;
  display: flex;
  list-style: none;
}
.page {
  justify-content: space-around;
  display: flex;
  background-color: black;
  flex-wrap: wrap;
}
.page-item {
  padding: 5px;
  margin: 5px;
}
.page-btn {
  cursor: pointer;
  padding: 10px;
  background-color: white;
  box-shadow: 1px 1px 1px 1px black;
}

/* PopUp Section */

.pop-up-content {
  margin: 1rem;
}

.pop-up-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 0, 0, 0.5);
  padding-top: 15%;
}

.pop-up-body {
  background-image: url(https://i.imgur.com/iuI2gFd.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: 100%;
  background-image: 100%;
  width: 70%;
  height: 75%;
  font-weight: bold;
  font-size: 20px;
  /* padding: 1rem; */
  margin: auto;
  overflow: scroll;
  border-radius: 30px;
}
.pop-up-body-details {
  background-image: url(https://i.imgur.com/evgzi18.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: 110%;
  width: 70%;
  height: 60%;
  font-weight: bold;
  font-size: 20px;
  margin: auto;
  overflow: hidden;
  border-radius: 20px;
}
.pop-up-header {
  padding: 5px;
  width: 100%;
  text-align: right;
  background-color: black;
}

.admin-popup-header {
  padding: 10px;
  width: 100%;
  background-color: black;
}

.pop-up-x {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 10px;
  /* float: right; */
}

.pop-up-x:hover {
  color: blue;
}

.pop-up-card {
  flex-direction: column;
}
.pop-up-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.pop-up-airline {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.pop-up-origin {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.pop-up-price {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.pop-up-description {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
  margin-right: 25px;
  padding: 10px;
}
.pop-up-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* PopUp End Section  */

/* Details Modal */
.account-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
}

body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 3rem 6rem;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

/* .modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding-top: 15%;
  background-color: white;
  transform: translate(-50%, -50%);
  margin-top: 12rem;
  margin-left: 52rem;
} */

.close-modal {
  position: absolute;

  /*float: right;*/
  /*top: 10px;*/

  right: 10px;
  padding: 5px 7px;
}

/* End Detail Modal */

.account-title {
  color: black;
  margin: 0;
  font-size: 32px;
  padding: 1rem 5rem 1rem 5rem;
  border-bottom: 2px solid black;
  text-align: center;
}

.user-details {
  margin: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user-info {
  margin-top: 0.3rem;
}

.logout-button {
  border: none;
  border-radius: 30px;
  width: 20%;
  padding: 5px;
  margin-right: 8rem;
  background-color: lightblue;
}

.checkout-button {
  border: none;
  border-radius: 30px;
  width: 20%;
  padding: 5px;
  align-items: center;
  background-color: lightblue;
}

.edit-button {
  border: none;
  border-radius: 30px;
  width: 20%;
  padding: 5px;
  margin-top: -1.63rem;
  margin-left: 8rem;
  background-color: lightblue;
}

.logout-button:hover {
  background-color: darkgrey;
  cursor: pointer;
  color: white;
}

.checkout-button:hover {
  background-color: darkgrey;
  cursor: pointer;
  color: white;
}

.edit-button:hover {
  background-color: darkgrey;
  cursor: pointer;
  color: white;
}

.profile-container {
  margin: auto;
  background-color: white;
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  box-shadow: 2px 5px 5px 2px black;
}

.account-container {
  display: flex;
  background-image: url(https://i.imgur.com/FZcPJcL.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: 100%;
  height: 100vh;
}

.admin-task {
  font-size: 0.8rem;
  color: blue;
  font-weight: normal;
}

.admin-task2 {
  position: relative;
  bottom: 2rem;
  font-size: 1rem;
  color: blue;
  font-weight: normal;
  margin-left: 5rem;
}

.admin-task:hover {
  text-decoration: underline;
  cursor: pointer;
}

.admin-task2:hover {
  text-decoration: underline;
  cursor: pointer;
  color: whitesmoke;
}

.task-title {
  color: black;
  margin: 0;
  font-size: 32px;
  padding: 1rem 5rem 1rem 5rem;
  border-bottom: 2px solid black;
  text-align: center;
}

.task-container {
  display: inline-block;
  margin: 10rem 20rem;
  background-color: white;
  background-size: 10%;
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  box-shadow: 2px 5px 5px 2px black;
}

.users-list {
  margin-right: 28rem;
  margin-bottom: 1.2rem;
}

.user {
  margin: 1rem;
}

.user:hover {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.login-elements {
  padding: 15px;
}
.signup-elements {
  padding: 8px;
}
.form-button {
  border: none;
  cursor: pointer;
  border-radius: 30px;
  padding: 10px 10px 10px 10px;
  width: 100%;
}

.form:hover {
  background-color: darkgrey;
  cursor: pointer;
  color: white;
}

.remove-button {
  border: none;
  border-radius: 30px;
  width: 60%;
  padding: 5px;
  margin-right: 8rem;
  background-color: lightblue;
}

.remove-button:hover {
  background-color: darkgrey;
  cursor: pointer;
  color: white;
}

.cart-item {
  margin: 1rem;
  border: lightgray solid;
  padding: 1rem;
  width: 100%;
}

#logInDiv {
  margin: 1rem;
}

.users-cart {
  float: right;
  margin-right: 7rem;
  background-color: white;
  width: 40%;
  padding: 2rem;
  border-radius: 30px;
  border: black solid;
  overflow: scroll;
}

.admin-cart-item {
  border: lightgray solid;
  margin: 1rem;
  padding: 1rem;
}

.cart-button {
  color: white;
}

.cart-button:hover {
  color: blue;
}

.cart-card {
  /* overflow: hidden; */
  flex-wrap: wrap;
  border: 1px solid;
  font-weight: bold;
  background-color: white;
  width: 300px;
  height: 155px;
  margin: 15px;
  padding: 5px;
  box-shadow: 2px 2px 2px 2px black;
}
.modal-inside {
  text-align: center;
}

.cart-close {
  text-align: right;
}

.checkout-items {
  justify-content: right;
}

.checkout-card {
  flex-wrap: wrap;
  border: 1px solid;
  font-weight: bold;
  background-color: white;
  width: 300px;
  height: 125px;
  margin: 5px;
  padding: 5px;
  box-shadow: 2px 2px 2px 2px black;
}

.checkout-container {
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  height: auto;
}

.FormGroup {
  margin: 0 15px 20px;
  padding: 0;
  border-style: none;
  background-color: #7795f8;
  will-change: opacity, transform;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #829fff;
  border-radius: 4px;
}

.FormRow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
  border-top: 1px solid #819efc;
}

.StripeElement--webkit-autofill {
  background: transparent !important;
}

.StripeElement {
  width: 100%;
  padding: 11px 15px 11px 0;
}

.stripe-button {
  display: block;
  font-size: 16px;
  width: calc(100% - 30px);
  height: 40px;
  margin: 40px 15px 0;
  background-color: #f6a4eb;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #ffb9f6;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  will-change: transform, background-color, box-shadow;
  border: none;
}

.stripe-button:active {
  background-color: #d782d9;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #e298d8;
  transform: scale(0.99);
}

.App {
  margin-left: 25%;
  margin-top: 5%;
  margin-right: 25%;
}
/* 
h1,
h3 {
	text-align: center;
} */

